<!DOCTYPE html>
<html>
    <head>
        <title>Чат</title>
    </head>
    <body bgcolor="#c0c0c0">
        <div align="center">
            <table>
                <tr>
                    <td><h3>Чат, Пользователь - {{.UserName}}</h3></td>
                    <td><a href="chat?command=logout">Выход</a></td>
                </tr>
                <tr>
                    <td>
                        <textarea rows="10" cols="45" readonly="true">{{.Messages}}</textarea>
                    </td>
                </tr>
                {{if not .IsBlock}}
                    <form method="POST" id="messageSendForm" action="chat?command=send_message"></form>
                    <tr>
                        <td>
                            <textarea form="messageSendForm" rows="1" cols="45" name="message" placeholder="Поле ввода сообщения" autofocus="true"></textarea>
                        </td>
                    </tr>
                {{end}}
                <tr>
                    <td>
                        {{if not .IsBlock}}
                            <button form="messageSendForm" type="submit">Отправить</button>
                        {{end}}
                    </td>
                    <td>
                        <a href="chat?command=show_chat_page">
                            <button>Обновить</button>
                        </a>
                    </td>
                </tr>
                {{if not .IsAdmin}}
                    <tr>
                        <td></td>
                        <td>
                            <a href="chat?command=show_users_page">Пользователи</a>
                        </td>
                    </tr>
                {{end}}
            </table>
        </div>
    </body>
</html>