<!DOCTYPE html>
<html>
    <script type="text/javascript">
        window.onload = function () {
            var connection;
            var messageInput = document.getElementById("messageInput");
            var chat = document.getElementById("chat");
        
            function appendMessage(item) {
                chat.value += item + '\n'
                chat.scrollTop = chat.scrollHeight
            }
        
            document.getElementById("messageSendForm").onsubmit = function () {
                if (!connection) {
                    return false;
                }
                if (!messageInput.value) {
                    return false;
                }
                connection.send(messageInput.value);
                messageInput.value = "";
                return false;
            };
        
            if (window["WebSocket"]) {
                connection = new WebSocket("ws://" + document.location.host + "/chat?command=create_web_socket_connection");
                connection.onclose = function (evt) {
                    appendMessage("Connection closed");
                };
                connection.onmessage = function (evt) {
                    var messages = evt.data.split('\n');
                    for (var i = 0; i < messages.length; i++) {
                        appendMessage(messages[i]);
                    }
                };
            } else {
                appendMessage("Your browser does not support WebSockets.");
            }
        };
    </script>
    <style>
        input {
            width: 100%;
            box-sizing: border-box;
            margin: 0;
        }
    </style>
    <head>
        <title>Чат</title>
    </head>
    <body bgcolor="#c0c0c0">
        <div align="center">
            <table>
                <tr>
                    <td><h3>Чат, Пользователь - {{.UserName}}</h3></td>
                    <td><a href="chat?command=logout">Выход</a></td>
                </tr>
                <tr>
                    <td>
                        <textarea id="chat" rows="30" cols="45" readonly="true"></textarea>
                    </td>
                </tr>
                {{if not .IsBlock}}
                    <form id="messageSendForm" action="chat?command=send_message"></form>
                    <tr>
                        <td>
                            <input id="messageInput" form="messageSendForm" placeholder="Поле ввода сообщения" autofocus="true"/>
                        </td>
                    </tr>
                {{end}}
                <tr>
                    <td>
                        {{if not .IsBlock}}
                            <button id="messageSendButton" form="messageSendForm" type="submit">
                                Отправить
                            </button>
                        {{end}}
                    </td>
                </tr>
                {{if not .IsAdmin}}
                    <tr>
                        <td></td>
                        <td>
                            <a href="chat?command=show_users_page">Пользователи</a>
                        </td>
                    </tr>
                {{end}}
            </table>
        </div>
    </body>
</html>